################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
CMakeCache.txt
/CMakeFiles
Makefile
cmake_install.cmake
space-war
settings.ini
save.bin
/out/build/x64-Release
/CMakeSettings.json
/obj
space-war.exe
space-war-debug.exe
/*.dll
space-war.cbp
space-war.depend
space-war.layout
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
space-war.sln
space-war.vcxproj
space-war.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
icon/res.aps