################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
CMakeCache.txt
/CMakeFiles
Makefile
cmake_install.cmake
space-war
settings.ini
save.bin
