################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
CMakeCache.txt
/CMakeFiles
Makefile
cmake_install.cmake
space-war
settings.ini
save.bin
/out/build/x64-Release
/CMakeSettings.json
/obj
space-war.exe
space-war-debug.exe
*.dll
Space War.cbp
Space War.depend
Space War.layout